<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kw4s.esla7">
   
    <!-- أذونات -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    

   
    <application
        android:label="esla7"
        android:icon="@mipmap/ic_launcher">
        
        <!-- MainActivity وتحديثها مع خاصية android:exported -->
        <activity    
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|layoutDirection|fontScale|density"
            android:exported="true"> <!-- إضافة android:exported هنا -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCA_d7wsXFrxjXQEjOVByCFzbfnVR1-4uk"/>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />
        
    </application>
</manifest>
